// Place all the styles related to the admins/Gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.next_gift {
	text-align: center;
	padding: 20px 0;
	font-size: 17px;
}

.admins_gift_btn {
    text-align: center;
    padding-top: 20px;
}

.now_gift {
	padding: 20px 0;
}