// Place all the styles related to the public/Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fa-heart {
	width: 25px;
	height: 30px;
	font-size: 25px;
	color: #FF6666;
	margin-left: 20px;
}

.far {
	 width: 25px;
	 height: 30px;
	 font-size: 25px;
	 color: #808080;
	 margin-left: 20px;
 }