// Place all the styles related to the public/Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.title {
	padding: 20px;
}

.create_btn {
	text-align: right;
	padding-right: 150px;
}

.period_recipe_rank > .period {
    text-align: center;
	font-size: 30px;
	padding: 30px 0;
	color: black;
}
.period_font {
	background: linear-gradient(transparent 70%, #99CCFF 70%);
}

.recipe_title {
	padding: 20px 30px;
}

.show_recipe_iine {
	text-align: right;
	padding-right: 200px;
}

.show_recipe_image {
	margin-top: 40px;
}

.table {
	background-color: #f7f7f7;
	width: 100%;
	margin: 40px 0;
}


.show_recipe_edit, .show_recipe_delete {
	text-align: center;
	padding: 30px 0;
}

.index_search_box {
	padding: 20px 80px 0 0;
	text-align: right;
}

.index_search_box p {
	padding-top: 10px;
}

.index_recipe_box, {
    background-color: #EEEEEE;
	width: 100%;
	margin: 40px auto;
    padding: 30px;
    border-radius: 30px 0 30px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.recipe_box > div:nth-child(4) {
  margin-left: auto;
}

.index_recipe_image {
    text-align: center;
    width: 50%;
}

.index_recipe_name {
	font-size: 20px;
	padding-top: 10px;
}

.index_recipe_info {
    text-align: left;
	font-size: 15px;
}

.index_recipe_info p {
	padding-top: 10px;
}

.index_recipe_iine {
	width: 10%;
}

.index_relation_user {
	text-align: center;
	width: 20%;
}

.relation_user_name {
	padding-top: 5px;
	font-size: 13px;
}

.ranking_recipe_background {
	background-color: #EEEEEE;
	width: 100%;
	margin: 40px auto;
    padding: 30px;
    border-radius: 30px 0 30px 30px;
}

.ranking_recipe_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.ranking_image {
    text-align: center;
    width: 40%;
}

.ranking_recipi_name {
	font-size: 20px;
	padding-top: 10px;
}

.ranking_info {
    text-align: left;
	font-size: 15px;
}

.ranking_info p {
	padding-top: 10px;
}

.ranking_iine {
	width: 20%;
	text-align: center;
}

.delbtn {
	text-align: right;
}

.addbtn {
	text-align: right;
}
