// Place all the styles related to the public/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.recipe_box {
    background-color: #EEEEEE;
	width: 60%;
	margin: 40px auto;
    padding: 30px;
    border-radius: 30px 0 30px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.recipe_box > div:nth-child(3) {
  margin-left: auto;
}

.user_recipe {
    text-align: center;
	width: 200px;
}

.user_recipe_name {
	font-size: 20px;
	padding-top: 10px;
}

.relation_item {
	text-align: center;
	width: 200px;
}

.user_recipe_item {
	padding-top: 5px;
	font-size: 13px;
}

.profile {
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.profile > .image {
	padding-right: 250px;
}

.profile_title {
	padding: 20px;
}

.user_btn {
	display: flex;
	justify-content: space-around;
	padding: 10px 0 50px;
}

.congratulation {
    background-color: #FFCC33;
	text-align: center;
	padding: 30px 0;
	font-size: 20px;
	width: 60%;
	border-radius: 30px 0 30px 0;
	margin: 0 auto;
}

.edit_profile_container {
	width: 30%;
	margin: 0 auto;
}

.link_mypage {
	float: right;
}

.unsubscribe_container {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.unsubscribe_container > .confirm {
	font-size: 30px;
	padding: 50px;
}

.unsubscribe_container > .text {
	font-size: 20px;
	padding-bottom: 40px;
}

.fa-gifts {
	color: #D2691E;
}

.index_user_box {
	padding: 20px;
}

.background {
	background-color: #ECECEC;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 7px 7px;
	padding: 50px 0;
	margin_top: 20px;
}

.signup_flex {
	display: flex;
}

.site_info {
	width: 50%;
	margin: 50px 0 0 100px;
}

.sign_up {
	width: 50%;
}

.greeting {
	font-size: 25px;
	background: linear-gradient(transparent 60%, #A4C6FF 60%);
}

.explain {
	font-size: 20px;
	padding: 30px 0;
}

.explain_ranking {
	font-size: 15px;
	padding: 30px 0;
}

.sign_up_image {
	text-align: center;
}

.signin_flex {
	display: flex;
	justify-content: center;
}

.sign_in {
	padding-right: 200px;
}

.sign_in_image {
	width: 200px;
}

.actions {
	padding-top: 20px;
}


