
<div class="dot">
	<%= render 'public/recipes/show_recipe', recipe: @recipe %>
	<div class="col-lg-8"></div>
	<div class="col-lg-4">
	  <%= render 'public/likes/admin_like', recipe: @recipe %>
	</div>
</div>
