<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>


<%= render 'public/items/show_item', item: @item, recipe_ranks: @recipe_ranks, not_likes_recipes: @not_likes_recipes %>
